##############################
# Eclipse project meta data
##############################
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml
/.dbeaver/
/.cproject
/.backup
/*.backup


##############################
# Project meta data
##############################
/release/
/debug/
/InstallBuilder/*.backup
/docs/VisualParadigm/.*
/docs/VisualParadigm/*.vpp.bak*
/*/*.autosave
/build/
/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/Help/*.qhc
/Help/*.qch
/iORxYw.json
/translations/*.qm
QWebGuitarProStore_resource.rc
QWebGuitarProStore.qxee
QWebGuitarProStore.pro.*
WebGuitarProStore_resource.rc



